h1 {
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

ul {
    background-color: darkorange;
    border: 3px dotted;
}

table {
    font-size: large;
    font-style: bold;
    border: 4px double;
    background-color: coral;
}